<h2>User Information</h2>
<div *ngIf="user">
  <h3>{{ user.userID | uppercase }} Information</h3>

  <div fxLayout="column">
    <label>nickname:
      <input [(ngModel)]="user.nickname" placeholder="nickname">
    </label>
    <label>age:
      <input [(ngModel)]="user.age" placeholder="age">
    </label>
  </div>

  <Button matButton (click) = "save()">Save</Button>
</div>

<h2>Like 목록</h2>

<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Hero Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>
  
      <ng-container matColumnDef="timestamp">
        <mat-header-cell *matHeaderCellDef> Timestamp </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.timestamp}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
